<<<<<<< HEAD
body{
	border-top: solid 5px #40aed7; 
}
a{
	margin: 0 1px;
}

.clear{
	clear: both;
}
.container{
	max-width: 1000px;
	margin: 0 auto;
}
.navbar-nav{
	background: #000000;
}
.btn:hover{
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.jumbotron h1{
	font-size: 110px;
	margin: 0 auto;
}
.jumbotron h2 {
	font-size: 110px;
	text-align: center;
	color: #d3d3d3;
}
.col-lg {
	text-align: center;
}
.col-lg img{
	padding-top: 20px;
}
.message{
	
}
#logo{
	float: left;
	margin-top: 25px;
}
#logo h1{
	color: #ffffff;
	font-size: 20px;
}
#logo p{
	color: #979797;
	font-size: 9px;
}
#menu{
	float: right;
}
#menu ul{
	float: right;
	margin-top: 21px;
}
#menu ul li{
	float: left;
}
#menu ul li a{
	padding: 21px 13px;
	color: #ffffff;
	text-decoration: none; 
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 400;
}
#menu ul li a:hover{
	background-color: #40aed7;
    border-radius: 9px;
}
#service{
	border: solid 1px #e4e4e4;
	margin: 0 10px 0 10px;
	text-align: center;
}
#service:hover{
	background-color: #BF5128;
    border-radius: 9px;
    filter: invert(100%);
}
#team{
	border: solid 1px #e4e4e4;
	margin: 0 10px 0 10px;
	
}
#team img{
	height: 225px;
	width: auto;
}
#team h5{
	border-bottom: solid 1px #FFFFFF;
}
#team p{
	color: #979797;
	font-size: 14px;
}
#team a{
	float: right;
	text-align: right;
}
#sub-footer{
	margin-top: 60px;
	background-color:#303030;
}
#title{
	color: white;
}
#blogContent {
	margin-top: 36px;
}
#blogContent h4{
	font-size: 17px;
	color: #979797;
}
#blogContent h5{
	font-size: 11px;
}
#blogContent h6{
	font-size: 10px;
	color: #979797;
}
#blogContent p{
	font-size: 14px;
	color: #979797;
}
#blogContent a{
	color: #40aed7;
}
#quickLinks {
 margin-top: 36px;
}
#quickLinks li{
	font-size: 14px;
	/*margin-top:*/
	margin-bottom: 6px;
	border-bottom: solid 1px #404040;
}
#latestTweets{
	margin-top: 36px;
	font-size: 14px;
	color: #979797;
}



/*odin edit starts here*/
.bgboxie{
	background-color: #222222;
	color: #989898;
	margin: 5px 0px 5px 0px;
	width: 225px;
	height: 36px;
	border: 1px solid #303030;
	padding: 5px;

}
.bgboxie2{
	background-color: #222222;
	color: #989898;
	margin: 5px 0px 5px 0px;
	width: 225px;
	height: 80px;
	border: 1px solid #303030;
	text-align: left;
	padding: 5px;
	padding-bottom: 51px;
}


#submitbut{
	border-radius: 5px;
	border: 1px solid #303030;
	background-color: #40aed7;
	color: #ffffff;
	font-size: 12px;
	padding: 11px;

}

#pooter{
	margin-top: 0px;
	background-color: #2b2b2b;
}

#copyrighto{
	font-size: 13px;
	text-align: right;
	color: #979797;
	padding-top:  10px;


}
#copylefto{
	text-align: left;
	font-size: 13px;
	color: #979797;
	padding-top:  10px;
	
}
=======
body{
	border-top: solid 5px #40aed7; 
}
a{
	margin: 0 1px;
}

.clear{
	clear: both;
}
.container{
	max-width: 1000px;
	margin: 0 auto;
}
.navbar-nav{
	background: #000000;
}
.btn:hover{
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.jumbotron h1{
	font-size: 110px;
	margin: 0 auto;
}
.jumbotron h2 {
	font-size: 110px;
	text-align: center;
	color: #d3d3d3;
}
.col-lg {
	text-align: center;
}
.col-lg img{
	padding-top: 20px;
}
.message{
	
}
#logo{
	float: left;
	margin-top: 25px;
}
#logo h1{
	color: #ffffff;
	font-size: 20px;
}
#logo p{
	color: #979797;
	font-size: 9px;
}
#menu{
	float: right;
}
#menu ul{
	float: right;
	margin-top: 21px;
}
#menu ul li{
	float: left;
}
#menu ul li a{
	padding: 21px 13px;
	color: #ffffff;
	text-decoration: none; 
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 400;
}
#menu ul li a:hover{
	background-color: #40aed7;
    border-radius: 9px;
}
#service{
	border: solid 1px #e4e4e4;
	margin: 0 10px 0 10px;
	text-align: center;
}
#service:hover{
	background-color: #BF5128;
    border-radius: 9px;
    filter: invert(100%);
}
#team{
	border: solid 1px #e4e4e4;
	margin: 0 10px 0 10px;
	
}
#team img{
	height: 225px;
	width: auto;
}
#team h5{
	border-bottom: solid 1px #FFFFFF;
}
#team p{
	color: #979797;
	font-size: 14px;
}
#team a{
	float: right;
	text-align: right;
}
#sub-footer{
	margin-top: 60px;
	background-color:#303030;
}
#title{
	color: white;
}
#blogContent {
	margin-top: 36px;
}
#blogContent h4{
	font-size: 17px;
	color: #979797;
}
#blogContent h5{
	font-size: 11px;
}
#blogContent h6{
	font-size: 10px;
	color: #979797;
}
#blogContent p{
	font-size: 14px;
	color: #979797;
}
#blogContent a{
	color: #40aed7;
}
#quickLinks {
 margin-top: 36px;
}
#quickLinks li{
	font-size: 14px;
	/*margin-top:*/
	margin-bottom: 6px;
	border-bottom: solid 1px #404040;
}
#latestTweets{
	margin-top: 36px;
	font-size: 14px;
	color: #979797;
}
>>>>>>> 64ca05de66ae5045b67936e32cb5e59875091cc2
